.yvtv-tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.yvtv-tags-container > a {
  margin: 0 4px 4px 0 !important;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.yvtv-tags-container.yvtv-no-tags {
  color: var(--yt-spec-text-secondary);
  font-size: larger;
}
